@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');


body {
  background: url('https://images6.alphacoders.com/824/thumbbig-824609.webp');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  font-family: 'Poppins', sans-serif;

}

.form-control,
.btn {
  margin-top: 20px;
  color: #ff719a;
  border-radius: 16px;
}

.current-btn {
  text-align: end;
  margin-right: 20px;
}

#current-btn {
  width: 323px;
}

.btn-info {
  background-color: #ffe29f;
  border-color: #ffe29f;
}

.btn-info:hover {
  background-color: #ff719a;
  border-color: #ff719a;
}

.city-form {
  justify-content: end;
  text-align: end;
  margin-top: -140px;
  margin-right: 14px;
}

.current-info {
  margin: 0px;
}

.date-container {
  font-weight: 100;
  color: #fff;
  margin-left: 30px;
}

.date-container .time {
  font-size: 70px;
  color: #fff;
}

.date-container #am-pm {
  font-size: 30px;
  margin-left: 10px;
  color: #fff;
}

.date-container .date {
  font-size: 25px;
  color: #fff;
  font-weight: 100;
  font-family: 'Poppins', sans-serif;
}

.search {
  justify-content: end;
  justify-items: end;
  text-align: end;
}

.date {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 14px;
  display: block;
}

.degrees {
  font-size: medium;
  position: relative;
  top: -25px;
  left: 10px;
}

#fahrenheit-link {
  text-decoration: none;
  color: white;
}

#celsius-link {
  text-decoration: none;
  color: white;
}

.current-day {
  margin: 10px;
  height: 170px;
  width: 200px;
}

.current-city {
  margin-top: 25px;
  color: white;
  font-family: "Montserrat Alternates", sans-serif;
}

.current-temp {
  display: inline;
  font-size: 60px;
  position: relative;
  top: -20px;
}

h6 {
  text-transform: uppercase;
}

.current-stats {
  position: relative;
  top: 15px;
  left: 20px;
  font-size: 15px;
}

.small-icons {
  width: 20px;
  padding: 28px 0px;
  align-items: center;
  display: inline;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}

.small-iconss {
  width: 20px;
  padding: 28px 0px;
  align-items: center;
  display: inline;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}

.location {
  display: inline;
}

.location- {
  display: inline;
  width: 13px;
  position: relative;
}

.location-pin {
  width: 28px;
  position: relative;
  bottom: 15px;
}

p {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  display: inline;
}

.days {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  text-align: center;
  justify-content: space-between;
  margin: 20px 20px;
  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  padding-top: 15px;
  padding-bottom: 10px;
  border-radius: 25px;
  background: rgba(5, 5, 5, 0.4);
}

.body {
  font-family: "Montserrat Alternates", sans-serif;
  justify-content: space-between;
  margin: -20px -20px;
  display: flex;
  left: 320px;
  flex-direction: row;
  border: 2px solid #eee;
  height: 200px;
  padding-right: 70px;
  border-radius: 30px;
  padding-left: 10px;
  position: relative;
  background: rgba(10, 10, 10, 0.4);
}

.attributes {
  left: 450px;
  font-weight: 200;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  border: 2px solid #eee;
  height: 160px;
  padding-right: 30px;
  border-radius: 30px;
  padding-left: 30px;
  position: relative;
  background: rgba(10, 10, 10, 0.4);
}

.the-week {
  display: flex;
  flex-direction: row;
  border-radius: 90px;
  padding: 0px;
  position: fixed;
  bottom: 0;
  color: white;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.day-icons {
  width: 120px;
  height: 110px;
  text-align: center;
}

.the-body {
  display: flex;
  align-items: center;
}



.max-temp {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;

}

.low-temp {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.icon-attributions {
  color: gray;
  font-size: 10px;
}

.footer1 {
  bottom: -4px;
  left: 18px;
  font-size: 18px;
  font-family: serif;
  position: fixed;
  color: #eee;
  width: 98%;
  text-align: right;
}